name: pull_request check

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm64' || 'ubuntu-latest' }}
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        arch: [ 'amd64', 'arm64' ]
        framework: [ 'net8.0', 'net9.0', 'net10.0' ]
        package: [ 'DMDB', 'KingbaseES', 'OpenGauss' ]

    name: Test (${{ matrix.package }} / ${{ matrix.framework }} / ${{ matrix.arch }})

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.framework == 'net8.0' && '8.0.x' || matrix.framework == 'net9.0' && '9.0.x' || '10.0.x' }}
          include-prerelease: true

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release -f ${{ matrix.framework }} ${{ format('test/NetCorePal.Testcontainers.{0}.UnitTests/NetCorePal.Testcontainers.{0}.UnitTests.csproj', matrix.package) }} --no-restore

      - name: Test
        run: dotnet test -c Release -f ${{ matrix.framework }} ${{ format('test/NetCorePal.Testcontainers.{0}.UnitTests/NetCorePal.Testcontainers.{0}.UnitTests.csproj', matrix.package) }} --no-build --verbosity normal --logger "console;verbosity=detailed"
